# at /lib/systemd/system/genesis.service

[Unit]
Description=Genesis Service
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 $HOME/code/Bots/genesis/genesis.py > $HOME/backups/genesis/genesis.log
User=someone
WorkingDirectory=$HOME/backups/genesis/

[Install]
WantedBy=multi-user.target
