# at /lib/systemd/system/genesis.service

[Unit]
Description=Genesis Service
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 /home/someone/code/Bots/genesis/genesis.py > /home/someone/backups/genesis/genesis.log
User=someone
WorkingDirectory=/home/someone/backups/genesis/

[Install]
WantedBy=multi-user.target